.gamepad-icon {
  display: none;
}
.title_features {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  font-family: var(--second-family);
  color: var(--accent-yellow);
}
.sub-features {
  display: flex;
  font-family: var(--second-family);
  font-weight: 700;
  text-align: center;
  color: var(--yeloow-2);
  font-size: 14px;
  line-height: 157%;
}
.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 922px;
  gap: 16px;
}

.features-slide {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 350px;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.features-descr {
  display: flex;
  align-items: center;
}

.features-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  max-width: 250px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--yeloow-2);
}

.span_features {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  max-width: 264px;
  color: var(--accent-mint);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .features-swiper {
    min-height: 660px;
  }
  .div-swiper {
    display: flex;
    flex-direction: row;
  }
  .features-header {
    display: flex;
    padding-top: 45px;
  }
  .gamepad-icon {
    display: flex;
  }
  .title_features {
    font-size: 56px;
  }
  .sub-features {
    width: 599px;
    font-size: 36px;
    line-height: 139%;
    margin-bottom: 24px;
  }
  .titles {
    display: flex;
    margin: 0 0 24px 0;
  }
  .img-title {
    margin-right: 200px;
  }
  .features-slide {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    object-fit: cover;
  }
  .features-img {
    width: 264px;
    height: 381px;
  }
  .features-text {
    font-size: 28px;
    line-height: 136%;
    max-width: 264px;
  }
  .span_features {
    font-weight: 700;
    max-width: 264px;
    color: var(--accent-mint);
  }
  .features-pagination {
    --swiper-pagination-bullet-size: 15px;
  }
}
