.screen {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-box {
  display: flex;
  justify-content: center;
}

.title-image-sc {
  display: none;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--accent-yellow);
  margin-bottom: 16px;
}

.text-screen {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: var(--yeloow-2);
  margin-bottom: 16px;
}

.swiper {
  height: auto;
  position: relative;
}

.slide-sc {
  display: flex !important;
  flex-direction: column;
  min-height: 240px;
}

.svg-sc {
  fill: var(--accent-mint);
}

.screen-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  padding: 8px 0;
  margin: 0 auto;
}

.text-wrap {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--accent-mint);
}

@media screen and (min-width: 1200px) {
  .screen {
    flex-direction: row;
    gap: 220px;
  }
  .div-titile {
    display: flex;
    flex-direction: column;
  }
  .title-image-sc {
    display: block;
    border-radius: 5px;
    padding: 10px;
    width: 76px;
    height: 90px;
  }
  .title {
    font-weight: 700;
    font-size: 56px;
    text-align: start;
  }
  .text-screen {
    font-size: 30px;
    line-height: 167%;
  }
  .slide-sc {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 420px;
  }
  .screen-img {
    margin: 0 auto;
    border: 3px solid var(--accent-mint);
    border-radius: 5px;
    width: 260px !important;
  }
  .text-wrap {
    position: relative;
    padding-left: 20px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    max-width: 260px;
    color: var(--yeloow-2);
    margin: 20px 0;
  }
  .text-wrap::before {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--yeloow-2);
  }
  .screen-pagination {
    --swiper-pagination-bullet-size: 15px;
  }
}
